{% extends 'base.html' %} {% block content %}
<div class="container mt-8">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-8"
  >
    <a href="{% url 'home' %}"><i class="las la-angle-left"></i> Back</a>
  </button>

  <div class="grid grid-cols-4 gap-4">
    <div
      class="bg-white shadow overflow-hidden sm:rounded-lg p-8 col-span-3"
      style="height: 500px"
    >
      <h1>Price Chart for {{ crypto.name }}</h1>
      <canvas id="cryptoChart" class="mt-4"></canvas>
    </div>

    <div class="bg-white shadow overflow-hidden sm:rounded-lg p-8 col-span-1">
      <h1>{{ crypto.name }}</h1>
      <p class="text-gray-500 text-sm">{{ crypto.symbol }}</p>
      <p class="text-gray-500 text-sm">Rank: {{ crypto.rank }}</p>
      <p class="text-gray-500 text-sm">
        Market Cap: <span class="market-cap">{{ crypto.market_cap }}</span>
      </p>
      <p class="text-gray-500 text-sm">Price: ${{ crypto.price }}</p>
      <p class="text-gray-500 text-sm">Volume: ${{ crypto.volume }}</p>
      <p class="text-gray-500 text-sm">Supply: {{ crypto.supply }}</p>
      <p class="text-gray-500 text-sm">
        Change (24h): {{ crypto.change_24h }}%
      </p>
      <p class="text-gray-500 text-sm">Change (7d): {{ crypto.change_7d }}%</p>
      <p class="text-gray-500 text-sm">
        Change (30d): {{ crypto.change_30d }}%
      </p>
      <p class="text-gray-500 text-sm">Change (1y): {{ crypto.change_1y }}%</p>
    </div>
  </div>
</div>

{% endblock %}
