body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e5eaf2;
  padding: 0rem 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  /* roboto */
  color: #121212;
}

p {
  font-family: "Space Mono", monospace;
  color: rgb(88, 102, 126);
}

a,
li,
span {
  font-family: "Space Mono", monospace;
  color: rgb(88, 102, 126);
}

.active {
  color: #121212;
}

header {
  padding: 2rem !important;
}

.logo {
  /* font-family: "Space Mono", monospace !important; */
  font-size: 1.5rem;
  font-weight: 900;
  background: #282ECF;
background: linear-gradient(to right, #282ECF 0%, #9595FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


  text-decoration: none;
}
nav ul {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  align-content: center;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
}
main {
  flex-grow: 1;
}

footer.page-footer {
  padding-top: 0;
}

.down {
  width: 164px;
  height: 48px;
  text-align: center;
  box-sizing: content-box;
  padding-top: 2px;
  padding-bottom: 3px;
  filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}

.up {
  width: 164px;
  height: 48px;
  text-align: center;
  box-sizing: content-box;
  padding-top: 2px;
  padding-bottom: 3px;
  filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}

/* small screen */

@media (max-width: 768px) {
  body {
    padding: 0rem 1rem;
  }
  header {
    padding: 1rem !important;
  }
  .logo {
    font-size: 1.2rem;
  }
  nav ul li {
    font-size: 1rem;
  }
  .down {
    width: 100px;
    height: 30px;
    text-align: center;
    box-sizing: content-box;
    padding-top: 2px;
    padding-bottom: 3px;
    filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
  }

  .up {
    width: 100px;
    height: 30px;
    text-align: center;
    box-sizing: content-box;
    padding-top: 2px;
    padding-bottom: 3px;
    filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
  }
}
